@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFCB03;
  /*--secondary: #191E23;*/
  --secondary: #ededed;
  /*--black: #060B0E;*/
  --black: #0a0a0a;;
  --white: #FFFFFF;
  --background: var(--white);
  --foreground: #171717;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--secondary);
    color: #FFFFFF;
  }
}

body {
  /*color: var(--black);*/
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

/*set default fonts for headings*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-caprasimo);
}
